.flex-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 1rem
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
  color: brown;
  padding: 0 1rem;
}

.h1 {
  font-size: 3rem;
  margin-right: auto;
}

header {
  padding: 1rem 2rem;
  background-color: gray;
}

.nav-link:hover {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}